---
import ProjectCard from './ProjectCard.astro'
import type { ProjectsModel } from '@libs/models/project'

type Props = {
  projects: ProjectsModel
}

const { projects } = Astro.props
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
  {
    projects.map((project) => {
      return <ProjectCard project={project} />
    })
  }
</div>
