---
import { FaChevronRight } from 'react-icons/fa'

import Card from '@components/ui/cards/Card.astro'
import Chip from '@components/ui/chips/Chip.astro'
import type { ProjectModel } from '@libs/models/project'

interface Props {
  project: ProjectModel
}

const { project } = Astro.props
---

<Card>
  <h4 class="flex items-center">
    {project.name}
    <FaChevronRight className="text-sm ml-2" />
  </h4>
  <p>{project.description}</p>
  <div class="flex flex-wrap gap-2 mt-4">
    {
      project.techStack.map((stack) => {
        return <Chip>{stack}</Chip>
      })
    }
  </div>
</Card>
