---

import ContactButton from '@components/common/ContactButton.astro'
import SocialMedia from '@components/common/SocialMedia.astro'
import NavMenuList from '@components/navigation/NavMenuList.astro'
import { Icon } from 'astro-icon/components'
---

<footer class="container mx-auto px-5 md:px-16 lg:px-32">
  <div
    class="mb-8 mt-32 flex rounded-2xl border border-neutral-200 bg-secondary p-12 dark:border-neutral-700 dark:bg-neutral-800"
  >
    <div class="mx-auto flex-1 text-center md:mx-0 md:text-left">
      <ul class="flex list-none flex-col space-y-1 md:hidden">
        <NavMenuList />
      </ul>
      <div class="mb-4 mt-4 md:mt-0 md:pr-8">
        <a
          href="/"
          class="font-sans text-2xl font-bold leading-tight tracking-tighter text-black dark:text-white md:text-4xl"
        >
          inm
        </a>
      </div>
      <div class="mb-8 flex justify-center space-x-4 md:justify-start">
        <SocialMedia type="icon" />
      </div>
      <div class="mb-4 flex justify-center md:justify-start">
        <ContactButton />
      </div>
      <div>
        <p class="text-sm">
          © 2022 - {new Date().getFullYear()} Irfan Nurghiffari Muhajir
        </p>
        <p class="text-sm">With 😻 using Astro & Tailwind CSS</p>
      </div>
      <div class="mt-6 flex justify-center md:hidden">
        <a
          href="https://github.com/irfan44/irfannm"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center text-sm"
          title="Source code"
        >
          <Icon name="github" class="mr-2 text-xl text-black dark:text-white" />
          Source code
        </a>
      </div>
    </div>
    <div class="hidden flex-col justify-between md:flex">
      <ul class="flex w-fit flex-col">
        <NavMenuList />
      </ul>
      <a
        href="https://github.com/irfan44/irfannm"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center text-sm"
        title="Source code"
      >
        <Icon name="github" class="mr-2 text-xl text-black dark:text-white" />
        Source code
      </a>
    </div>
  </div>
</footer>
