---
interface Props {
  title: string
  description?: string
  isHeader?: boolean
  additionalClass?: string
}

const {
  title,
  description = '',
  isHeader = false,
  additionalClass = '',
} = Astro.props
---

<section class={additionalClass}>
  <div>
    {isHeader ? <h1 class="mb-6">{title}</h1> : <h2 class="mb-6">{title}</h2>}
    {description && <p>{description}</p>}
  </div>
  <slot />
</section>
