---
import SocialMedia from '@components/common/SocialMedia.astro'
---

<div>
  <h2 class="mb-6">Contact</h2>
  <p class="mb-2">
    Here are several of my socials for you to look at. Feel free to follow and check out for things
    i do :
  </p>
  <SocialMedia type="list" />
</div>
