---
interface Props {
  additionalClass?: string;
}

const { additionalClass = "" } = Astro.props;
---

<div
  class:list={[
    "bg-chip-bg dark:bg-chip-bg-dark text-chip-text dark:text-chip-text-dark flex items-center rounded-lg px-2 py-1 text-sm",
    additionalClass,
  ]}
>
  <slot />
</div>
