---
import Section from '@components/layouts/Section.astro'
import ReadMore from '@components/home/ReadMore.astro'
import ProjectList from '@components/project/ProjectList.astro'
import type { ProjectsModel } from '@libs/models/project.ts'

interface Props {
  featuredProjects: ProjectsModel
}

const { featuredProjects } = Astro.props
---

<Section title="Featured Project">
  <div class="space-y-4">
    <ProjectList projects={featuredProjects} />
  </div>
  <ReadMore url="/projects">View all projects</ReadMore>
</Section>
