---
import { Image } from 'astro:assets'

import SocialMedia from '@components/common/SocialMedia.astro'
import ResumeButton from '@components/resume/ResumeButton.astro'

interface Props {
  description: string
  resumeUrl: string
}

const { description, resumeUrl } = Astro.props
---

<div class="mb-12 flex flex-col items-center py-6 md:flex-row">
  <div class="space-y-6 md:w-1/2">
    <div>
      <p class="text-xl font-bold text-black dark:text-white">Hi,</p>
      <h1>I&apos;m Irfan! 👋</h1>
    </div>
    <p>{description}</p>
    <ResumeButton resumeUrl={resumeUrl} />
    <div class="pt-8">
      <SocialMedia type="icon" />
    </div>
  </div>
  <div class="flex justify-center md:w-1/2">
    <Image
      class="h-[400px]"
      src="https://res.cloudinary.com/dflb9qqcu/image/upload/f_auto,q_auto/v1/irfannm/person"
      alt="Hero"
      height="400"
      width="320"
      loading="eager"
    />
  </div>
</div>
