---
import Section from '@components/layouts/Section.astro'
import ExperienceList from '@components/experience/ExperienceList.astro'
import ReadMore from '@components/home/ReadMore.astro'
import type { ExperiencesModel } from '@libs/models/experience.ts'

interface Props {
  recentExperiences: ExperiencesModel
}

const { recentExperiences } = Astro.props
---

<Section title="Working Experience">
  <ExperienceList experiences={recentExperiences} />
  <ReadMore url="/about#experience">View more</ReadMore>
</Section>
