---
import { FaChevronRight } from 'react-icons/fa'
import type { BreadcrumbItems } from './breadcrumb.types'

interface Props {
  items: BreadcrumbItems
  additionalClass?: string
}

const { items, additionalClass = '' } = Astro.props
---

<div
  class:list={[
    'flex w-fit items-center text-neutral-900 dark:text-gray-200',
    additionalClass,
  ]}
>
  {
    items &&
      items.map((item, index) => {
        return (
          <Fragment>
            <a class="hover:underline" href={item.path}>
              {item.title}
            </a>
            {index + 1 !== items.length && (
              <FaChevronRight className="mx-1 text-sm" />
            )}
          </Fragment>
        )
      })
  }
</div>
