---
import { Icon } from "@twodft/astro-icon/components";

import type { BreadcrumbItems } from "./breadcrumb.types";

interface Props {
  items: BreadcrumbItems;
  additionalClass?: string;
}

const { items, additionalClass = "" } = Astro.props;
---

<div
  class:list={[
    "text-breadcrumb-text dark:text-breadcrumb-text-dark flex w-fit items-center space-x-2",
    additionalClass,
  ]}
>
  {
    items?.map((item, index) => {
      return (
        <Fragment>
          <a class="hover:underline" href={item.path}>
            {item.title}
          </a>
          {index + 1 !== items.length && (
            <Icon name="chevron-right" class="text-sm" />
          )}
        </Fragment>
      );
    })
  }
</div>
