---
import Section from "@components/layouts/section/Section.astro";
import ReadMore from "@components/shared/cta/ReadMore.astro";

import PostList from "./base/PostList.astro";

import type { Posts } from "@libs/business/entity";

interface Props {
  highlightedPosts: Posts;
}

const { highlightedPosts } = Astro.props;
---

<Section title="Latest Posts">
  <div class="mb-8"><PostList posts={highlightedPosts} /></div>
  <ReadMore url="/blog">Read more posts</ReadMore>
</Section>
