---
interface Props {
  additionalClass?: string;
}

const { additionalClass = "" } = Astro.props;
---

<div
  class:list={[
    "bg-card-bg hover:bg-card-bg-hover border-card-border dark:border-card-border-dark dark:bg-card-bg-dark dark:hover:bg-card-bg-dark-hover flex cursor-pointer flex-col justify-between space-y-3 rounded-2xl border p-4",
    additionalClass,
  ]}
>
  <slot />
</div>
