---
interface Props {
  additionalClass?: string;
}

const { additionalClass = "" } = Astro.props;
---

<div
  class:list={[
    "bg-secondary hover:bg-secondaryHover flex cursor-pointer flex-col justify-between space-y-3 rounded-2xl border border-neutral-200 p-4 dark:border-neutral-700 dark:bg-neutral-800 dark:hover:bg-neutral-800/75",
    additionalClass,
  ]}
>
  <slot />
</div>
