---
import PostList from '@components/blog/PostList.astro'
import ReadMore from '@components/common/ReadMore.astro'
import Section from '@components/layouts/Section.astro'
import type { Posts } from '@libs/business/entity'

interface Props {
  highlightedPosts: Posts
}

const { highlightedPosts } = Astro.props
---

<Section title="Latest Posts">
  <div class="mb-8">
    <PostList posts={highlightedPosts} />
  </div>
  <ReadMore url="/blog">Read more posts</ReadMore>
</Section>
