---
import PostList from '@components/blog/PostList.astro'
import ReadMore from '@components/common/ReadMore.astro'
import Section from '@components/layouts/Section.astro'
import type { PostsModel } from '@libs/models/post'

interface Props {
  highlightedPosts: PostsModel
}

const { highlightedPosts } = Astro.props
---

<Section title="Latest Posts">
  <PostList posts={highlightedPosts} />
  <ReadMore url="/blog">Read more posts</ReadMore>
</Section>
