---
import { FaChevronUp } from 'react-icons/fa'
---

<button
  id="back-to-top"
  class="hidden fixed bottom-4 right-4 rounded-full border border-neutral-200 bg-white p-3 hover:bg-secondary dark:border-neutral-700 dark:bg-neutral-800 dark:hover:bg-neutral-800/75 lg:bottom-5 lg:right-5"
>
  <FaChevronUp className="text-sm" />
</button>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const backToTop = document.getElementById('back-to-top')
    
    window.addEventListener('scroll', () => {
      if (window.scrollY > 100) {
        backToTop?.classList.remove('hidden')
      } else {
        backToTop?.classList.add('hidden')
      }
    })

    backToTop?.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    })
  })
</script>
