---
import ButtonLink from '@components/ui/links/ButtonLink.astro'

const EMAIL = 'irfannmuhajir@gmail.com'
---

<ButtonLink title="Contact me!" href={`mailto:${EMAIL}`}>
  <span class="text-md mr-2">📧</span>
  <span>Contact me!</span>
</ButtonLink>
