---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
const hasIcon = Astro.slots.has("icon");
---

<div
  class="border-button-link-border bg-button-link-bg hover:bg-button-link-bg-hover dark:border-button-link-border-dark dark:bg-button-link-bg-dark dark:hover:bg-button-link-bg-dark-hover text-button-link-text dark:text-button-link-text-dark w-fit rounded-2xl border px-3 py-2 shadow-sm"
>
  <a
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center space-x-2 font-semibold"
    title={title}
    href={href}
  >
    {
      hasIcon && (
        <span class="mr-2">
          <slot name="icon" />
        </span>
      )
    }
    <slot />
  </a>
</div>
