---
import { RiExternalLinkLine } from 'react-icons/ri'

interface Props {
  title: string
  href: string
  additionalClass?: string
  withIcon?: boolean
}

const { title, href, additionalClass = '', withIcon = true } = Astro.props
---

<a
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    'flex w-fit items-center space-x-2 font-semibold hover:underline',
    additionalClass,
  ]}
  title={title}
  href={href}
>
  <slot />
  {withIcon && <RiExternalLinkLine className="inline" />}
</a>
