@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('/fonts/LexendDeca-VariableFont.ttf') format('truetype');
  }

  h1,
  .h1 {
    @apply font-sans text-4xl font-bold md:text-5xl tracking-tighter leading-tight text-black dark:text-white;
  }

  h2,
  .h2 {
    @apply font-sans text-2xl font-bold md:text-4xl tracking-tighter leading-tight text-black dark:text-white;
  }

  h3,
  .h3 {
    @apply font-sans text-xl font-bold md:text-3xl tracking-tighter leading-tight text-black dark:text-white;
  }

  h4,
  .h4 {
    @apply font-sans text-lg font-bold md:text-2xl text-black dark:text-white;
  }

  h5,
  .h5 {
    @apply font-sans text-base font-bold md:text-lg tracking-tighter leading-tight text-black dark:text-white;
  }

  body,
  .p {
    @apply font-sans text-base text-neutral-800 dark:text-gray-200;
  }

  body {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }
}
