---
import Section from "@components/layouts/section/Section.astro";
import Chip from "@components/ui/chips/Chip.astro";

import type { Project } from "@libs/business/entity";

interface Props {
  techStack: Project["techStack"];
}

const { techStack } = Astro.props;
---

<Section isSmall title="Tech Stack">
  <div class="flex flex-wrap gap-2">
    {
      techStack.map((stack) => {
        return <Chip>{stack}</Chip>;
      })
    }
  </div>
</Section>
