<div
  class="flex h-9 items-center rounded-full border border-neutral-200 bg-secondary px-1 text-sm dark:border-neutral-700 dark:bg-neutral-800"
>
  <div class="space-x-1" role="tablist">
    <slot />
  </div>
</div>
